
    <header class="header">
        <ul class="nav-bar">
            <li> <a href="/useripo" class="active">IPOs</a></li>
            <li><a href="/usercompanylist" >Company List</a></li>
            <li><a href="#">Compare Company</a></li>
            <li><a href="#">Other</a></li>
            <li style="float: right ;margin-right: 30px"><a href="/logout" id="logout-link">Logout</a></li>
        </ul>
        
    </header>



<div class="main">

    <h1 style="text-align: center;line-height: 200px">List of IPOS</h1>

<div class="table-list" >

  <table>
    <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Stock Exchange</th>
        <th>Price Per Day</th>
        <th>Total Number Of Share</th>
        <th>Open Date and Time</th>

    </tr>
    <tr *ngFor="let ipo of ipoDetails">
        <td>{{ipo.ipoId}}</td>
        <td>{{ipo.companyName}}</td>
        <td>{{ipo.stockExchange}}</td>
        <td>{{ipo.pricePerShare}}</td>
        <td>{{ipo.totalNumberOfShares}}</td>
        <td>{{ipo.openDateTime}}</td>
      
    </tr>

</table>
</div>
</div>