<header class="header">
    <ul class="nav-bar">
        
        <li> <a href="/import">Import Data</a></li>
        <li><a href="/companylist" >Manage Company</a></li>
        <li><a href="/stocklist" class="active">Manage Exchange</a></li>
        <li><a href="/ipo">Update IPO details</a></li>
        <li style="float: right ;margin-right: 30px"><a href="/logout" id="logout-link">Logout</a></li>
    </ul>
    
</header>

<div class="main">

    <h1 style="text-align: center; line-height: 200px">Create New Stock Exchange</h1>
        <div class="table-list">


    <form  #stockForm="ngForm" (ngSubmit)="createStockExchange(stockForm)" >
                        <table>
                        <tr><td>Stock Name:</td><td><input name="name" type="text"  placeholder="StockName" ngModel/></td></tr>
                      
                        <tr><td>Contract Address:</td><td><input name="contactAddress" type="text"  placeholder="Stock Exchange Name" ngModel/></td></tr>
                        <tr><td>Brief:</td><td><input name="brief" type="text"  placeholder="Brief" ngModel/></td></tr>
                        <tr><td>Remarks:</td><td><input name="remarks" type="text" placeholder="Remarks" ngModel/></td></tr>
                    <tr><td colspan="2" style="text-align: center" ><input class="button-style" type="submit" value="Submit"/>
                    </td></tr>
                    </table>
            
                </form>
          
   </div>
</div>