*{
    background-color: #29363f;
}

.login {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: auto;

    border: 1px #CCC solid;
    padding: 30px;
    background-color: #29363f;
    color: #FFF;
    text-align: center;
}

.field,
.btn {
    border: 1px #525d65 solid;
    padding: 10px;
}

.field {
    background: #29363f;
    margin: 5px 25px;
    width: 216px;
    color: #FFF;
}

.login h1,
h3,
label,
.login p,
.btn,
.forgot {
    color: #CCC;
}

.btn {
    background-color: #29363f;
    font-weight: bold;
    margin: 10px 25px;
    width: 238px;
}
